<h1>Burgers</h1>

<h2>Burgers that are devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless notDevoured}}
      {{> burger/burger-block notDevoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are not devoured</h2>

<ul>
  {{#each burgers}}
    {{#if notDevoured}}
      {{> burgers/burger-block notDevoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="br">Burgers:</label>
    <input type="text" id="br" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Not Devoured</label><br>
    <input type="radio" name="notDevoured" value="1" checked> Not Devoured<br>
    <input type="radio" name="notDevoured" value="0"> Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>